@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@font-face {
  font-family: customFont;
  src: url(../fonts/04B_30__.TTF);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #121212;
  font-family: 'Inter', sans-serif;
  color: #fff;
}

.nav {
  width: 100% !important;
  margin: 0 !important;
}

.nav-link {
  width: 100% !important;
}

.centerWrapper {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: column;
}


nav {
  box-sizing: content-box;
}

.mainContainer {
  margin-top: 60px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 120px;
}

.profileImage {
  height: 250px;
  width: 250px;
  border-radius: 100%;
  border: 7px solid #fff;
}

.arrow-container {
  width: 100%;
  margin-top: 50px;
  display: flex;
  position: relative;
  justify-content: center;
  max-height: 50px;
}

.arrow-image {
  display: flex;
  height: 50px;
  animation: jumpInfinite 1.5s infinite;
}

@keyframes jumpInfinite {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 20px;
  }
  100% {
    margin-top: 0;
  }
}

.secondContainer {
  width: 100%;
  margin-top: 75px;
  gap: 50px;
}

/* About Me Section */

.AboutMe {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.AboutMe .first-part {
  width: 150px;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: #181818;
  border-radius: 5px 5px 0px 0px;
}

.AboutMe .first-part h1 {
  text-align: center;
  font-size: 20px;
  color: #fff;
  padding: 4px;
  margin: 0 !important;
}

.AboutMe .second-part {
  width: 100%;
  height: 110px;
  background-color: #181818;
}

.AboutMe .second-part p {
  display: flex;
}

.AboutMe .second-part {
  width: 100%;
  border-radius: 0px 5px 5px 5px;
  overflow: hidden; /* Hide overflowing text */
}

.AboutMe .second-part {
  padding: 20px;
}

.thirdContainer {
  flex-direction: column;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thirdContainer h1 {
  font-size: 25px;
}


.ExpContainer {
  display: flex;
  justify-content: start;
  padding-top: 10px;
  width: 100%;
  gap: 10px;
}

.ExpContainer img {
  height: 210px;
  width: 210px;
  background-color: #181818;
  border-radius: 9px;
} 

.ExpInfo {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
}

.ExpInfo h3 {
  font-size: 18px;
}

.tech-images {
  display: flex;
  gap: 10px;
}

.tech-images img {
  padding: 5px;
  height: 80px;
  width: 80px;
}

.blinking-cursor {
  margin-left: 5px;
  background-color: #fff;
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 50% {
    opacity: 1;
  }
  50.1%, 100% {
    opacity: 0;
  }
}

/* Footer Part  */

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: black;
  background-color: white;
}

.nav {
  --bs-nav-link-color: white !important;
}


/* width */
::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.row {
  margin-top: 60px;
}

.col-md-4 {
  display: flex;
  justify-content: center;
}

.col-md-4 img {
  border-radius: 20%;
  height: 80%;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .mainContainer {
    flex-direction: column;
  }

  .ExpContainer {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .AboutMe .second-part {
    height: 290px;
  }
}

.tog {
  margin-top: 5px;
}

.logo-lin {
  padding: 15px;
  border-radius: 15px;
  background-color: #181818;
  margin-top: 20px;
  aspect-ratio: 1 / 1 !important;
}


.footer {
  margin-top: 50px !important;
}


.p-5 {
  display: flex;
  align-items: center;
  align-content: center;
  width: 100%;
  padding: 0rem !important;
  padding-top: 3rem !important;
  padding-right: 0rem !important;
  padding-bottom: 3rem !important;
  padding-left: 0rem !important;
}